body {
  background-color: {backgroundColor};
}



#companyNameBox {
      top: 0;
      bottom: 0;
      padding: auto;
      overflow: hidden;
      border: none;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 14px;
      color: {textBrightColor};
      text-indent: 2em;
      -o-text-overflow: clip;
      text-overflow: clip;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    }

#imageBox {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px auto 0px;
    overflow: hidden;
    width: 700px;
    height: auto;
    border: none;
}

#productImage {
  -webkit-border-radius: 5px 5px 5px 0px;
  border-radius: 5px 5px 5px 0px;
     border-bottom-width: 3px;
    display: block;
    object-fit: cover;
    height: 400px;
    width: 700px;
}

#productTitle {
    margin-top: 20px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}

#descBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 0px 0px;
  overflow: hidden;
  width: 350px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  color: {textBrightColor};
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: {PrimaryColor};

}

#productDesc {
    height: auto;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    letter-spacing: 0.1px;
    word-spacing: 2px;
    color: {textDarkColor};
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    padding: 10px;
    margin-left: 10px;
}

#descTextBox {
  height: auto;
  width: 100%;
  background: {SecondaryColor};
}

#priceBox {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 0px auto auto;
  overflow: hidden;
  width: 175px;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: {PrimaryColor};
}

#productPrice  {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  word-spacing: 2px;
  color: {textBrightColor};
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

#buyButton {
  display: block;
  float: left;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 0px auto auto;
  overflow: hidden;
  border: 0px;
  height: 50px;
  width: 175px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 19px;
  -webkit-border-radius: 5px 0px 5px 0px;
  border-radius: 5px 0px 5px 0px;
  color: {textBrightColor};
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: {PrimaryColor};
  transition-duration: 0.3s;
  outline: none;
}

#buyButton:hover {
  background: {buttonHoverColor};
  color: {textDarkColor};
  font-size: 17px;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.4);
}

#buyButton:active {
  background: {buttonActiveColor};
    color: {textDarkColor};
  font-size: 15px;
  transition-duration: 0.1s;
  -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.7);
  box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.7);
  outline: none;
}
