#companyName {
    text-align: top left;
}

#productImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 700px;
    margin-top: 20px;
}

#productTitle {
    margin-top: 20px; 
    text-align: left;
}

#productPrice  {
    text-align: left;
    margin-top: 20px; 
}

#productDesc {
    height: 50px;
    width: 200px;
    margin-top: 20px; 
}

#buyButton {
    margin-top: 20px;
    margin-left: 0px;
    height: 20px;
    width: 40px;
} 